<table class="table item">
	<thead>
	<tr>
		<td>Name</td><td>Start</td><td>End</td>
		<td>
			<button class="btn btn-primary pull-right" ng-click="addEvent()">+</button>
		</td>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="event in events" ng-class="{'deleted':!event.exists}">
		<td>
			<a class="btn btn-default" ng-href="{{event.page}}">Edit</a>
			<input ng-model="event.name" >
		</td>
		<td>{{event.start_date}}</td>
		<td>{{event.end_date}}</td>
		<td>
			<a class="btn btn-delete" ng-click="delEvent(event)">&times;</a>
		</td>
	</tr>
</tbody>
</table>

