<div class="row">
	<div class="col-xs-6">
		<h1 click-edit="event.name">{{ event.name }}</h1>
	</div>
	<div class="col-xs-3">
		<label>Start date:
			<input class="form-control" type="date" ng-model="event.start_date" />
		</label>
	</div>
	<div class="col-xs-3">
		<label>End date:
			<input class="form-control" type="date" ng-model="event.end_date" />
		</label>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<label>Notes:</label>
			<textarea class="form-control" ng-model="event.notes"></textarea>
	</div>
</div>

<hr/>
<h2>Equipment lists:</h2>

<table class="table item">
	<thead>
	<tr>
		<td>Name</td><td>Start</td><td>End</td>
		<td>
			<button class="btn btn-primary pull-right" ng-click="addEvent()">+</button>
		</td>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="event in events" ng-class="{'deleted':!event.exists}">
		<td>
			<a class="btn btn-default" ng-href="#{{event.page}}">Edit</a>
			<input ng-model="event.name" >
		</td>
		<td>{{event.start_date}}</td>
		<td>{{event.end_date}}</td>
		<td>
			<a class="btn btn-delete" ng-click="delEvent(event)">&times;</a>
		</td>
	</tr>
</tbody>
</table>

