{% extends "index.html" %}
{% block title %}{{ box.name if box else 'Boxes' }}{%endblock %}

{% block body %}
<div class="item"> 

{% if box %}
    <div data-uri="{{ url_for('api_box', box_id=box.id) }}">
        <div class="row hidden-print">
            <div class="col-md-8">
						{% if next_id %}
						<div class="pull-right"><a href="{{url_for('box', box_id=next_id)}}" class="btn btn-default">Next</a></div>
						{% endif %}

            {{ linkmacros.cat_crumbs(box.category,
                            ('Boxes', url_for('boxes')),
                            (box.name, url_for('box', box_id=box.id)),
                            ) }}
            </div>
            <div class="col-md-4 row">
                <label for="category" class="col-xs-6 text-right">Set Category</label>
                <div class="col-xs-6">
                    {{ listmacros.selectcat('category', 'item_ajax_control', box.category.id, -1) }}
                </div>
                <label for="home" class="col-xs-6 text-right">Set Location</label>
                <div class="col-xs-6">
                    {{ listmacros.selectlocation('home', 'item_ajax_control', box.home.id, -1) }}
                </div>

            </div>
        </div>

        <div id="details-panel" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Details </h3>
            </div>
            <div class="panel-body">

            <img style="float:right" src="{{ url_for('api_barcode', code=box.uglycode) }}" />
            {{ listmacros.item_edit(box) }}
            <h4>Issues:</h4>
            {{ listmacros.issues(box) }}
            </div>
        </div>
    </div>

    <h2>Contents </h2>
    <div id="contents" class="panel panel-default">
      <div class="panel-heading">
      <form action="{{ url_for('contents') }}" method="POST">
        <h3 class="panel-title">Box Contents (Specific Items)
        <input type="hidden" name="category" value="{{ box.category.id }}">
        <input type="hidden" name="box" value="{{ box.id }}">
        <button class="btn btn-primary pull-right" type="submit">+</button>
        </h3>
      </form>
      </div>
        {% if box.contents.count() %}
            {{ listmacros.content_list(box.contents, True) }}
        {% endif %}
    </div>

    <div class="panel panel-default ajax_section" id="multiitems_section">
      <div class="panel-heading">
      <form action="{{ url_for('multiitems') }}" method="POST" class="ajax_section_form">
        <h3 class="panel-title">Box Contents (Multi-items)
        <input type="hidden" name="category" value="{{ box.category.id }}">
        <input type="hidden" name="box" value="{{ box.id }}">
        <button class="btn btn-primary pull-right" type="submit">+</button>
        </h3>
      </form>
      </div>
        {% if box.contained_multis.count() %}
            {{ listmacros.multiitem_list(box.contained_multis, True) }}
        {% endif %}
    </div>


    <h2>Related Boxes</h2>

    <div class="panel panel-default ajax_section" id="required_boxes_section">
        <div class="panel-heading">
            <h3 class="panel-title">Boxes required by this one:</h3>
        </div>
        {{ listmacros.box_list(required_boxes, xref_api) }}
        <div class="panel-footer">
            <form method="POST" class="form row pull-left ajax_section_form">
                <div class="col-md-6">
                {{ listmacros.selectbox("require_box",'', None, box.id) }}
                </div>
                <div class="col-md-2">
                <button type="submit" class="btn btn-default" style="inline">Add</button>
                </div>
            </form>

            <form action="{{ url_for('boxes') }}" class="ajax_section_form" method="POST">
                <input type="hidden" name="parent" value="{{ box.id }}">
                <input type="hidden" name="category" value="{{ box.category.id }}">
                <button class="btn btn-primary pull-right" type="submit">new</button>
            </form>
            <div class="cf"></div>
        </div>

    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
           <h3 class="panel-title">Boxes that need this one:</h3>
        </div>
        {{ listmacros.box_list(dependent_boxes) }}
    </div>

{% else %}

<div>
        {{ listmacros.selectlocation('location_tmpl', 'item_ajax_control ', 0, -1) }}
</div>
     <h2> All Boxes </h2>
 <a href="{{ url_for('print_boxes') }}">Print Report</a> |
 <a href="{{ url_for('api_boxes_csv') }}">CSV for label printer</a>
    <table class="table table-striped table-condensed">
    <thead>
        <tr class="row">
        <th class="col-xs-1"></th>
        <th class="col-xs-1">Box Code</th>
        <th>Box Name</th>
        <th>Category</th>
        <th>Location</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
    {% for box in boxes | sort(attribute="uglycode") %}
        <tr class="item {{ 'deleted' if not box.exists else '' }} row"
            data-uri="{{ url_for('api_box', box_id=box.id) }}">
          <td class="col-xs-1">
            <a class="btn btn-default"
               href="{{url_for('box', box_id=box.id)}}">Edit</a>
          </td>
          <td class="col-xs-2">
            <input class="form-control item_ajax_control"
                name="uglycode" value="{{ box.uglycode }}" data-previous="{{box.uglycode}}" />
          </td>

          <td>
            <input class="form-control item_ajax_control"
                name="name" value="{{ box.name }}" data-previous="{{box.name}}" />
          </td>
          <td>
                    {{ listmacros.selectcat('category', 'item_ajax_control', box.category.id, -1) }}
          </td>
          <td style="width: 20%;">
                    {{ listmacros.selectlocationmany('home', 'location_biglist item_ajax_control', box.home.id, box.home.name, -1) }}
          </td>
          <td {{ (('data-uri="'+ delete_uri(box.id) + '"') if delete_uri and delete_uri != True) | safe }}>
            {% if delete_uri %}
              <button class="btn item_ajax_btn undelete_btn" data-name="exists"
                      data-value="true" data-ajaxtoggle="deleted"
                      
                      data-ajaxtype="POST">Undelete</button>
              <button class="btn close item_ajax_btn delete_btn"
                      data-ajaxtoggle="deleted"
                      {% if delete_uri != True %}
                      data-uri="{{ delete_uri(box.id) }}"
                      {% endif %}
                      data-ajaxtype="DELETE">&times;</button>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}

{% endblock %}
{% block end_of_page_javascript %}
{{ linkmacros.static_js('lib/jquery.biglist.js') }}
<script>
    $('.location_biglist').biglist('select[name=location_tmpl]');
</script>
{% endblock %}
