{% extends "index.html" %}
{% block title %}Categories{%endblock %}

{% block body %}
    {{ linkmacros.cat_crumbs(category, ('Categories', url_for('categories'))) }}
<div class="item"> 

{% if category %}
  <div class="row">
    <div class="topthing col-md-4"
        data-uri="{{ url_for('api_category', cat_id=category.id) }}">
        {{ listmacros.normal_edit(category) }}
      <div class="form-group">
        <label for=parent">Sub category of:</label>
        {{ listmacros.selectcat('parent', 'item_ajax_control', category.parent.id, category.id) }}
       </div> 

    <div class="panel panel-default ajax_section" id="subcats_section">
      <div class="panel-heading">
      <form action="{{ url_for('categories') }}" method="POST" class="ajax_section_form">
        <h3 class="panel-title">Sub Categories
        <input type="hidden" name="parent" value="{{ category.id }}">
        <button class="btn btn-primary pull-right" type="submit">+</button>
        </h3>
      </form>
      </div>
      <div class="panel-body">
        {% if categories.count() %}
            {{ listmacros.cat_list(categories, True) }}
        {% endif %}
      </div>
    </div>

    </div>

    <div class="col-md-8">
    
    <div class="panel panel-default ajax_section" id="boxes_section">
      <div class="panel-heading">
      <form action="{{ url_for('boxes') }}" method="POST" class="ajax_section_form">
        <h3 class="panel-title">Boxes
        <input type="hidden" name="category" value="{{ category.id }}">
        <button class="btn btn-primary pull-right" type="submit">+</button>
        </h3>
      </form>
      </div>
      <div class="panel-body">
        {% if category.boxes.count() %}
        {{ listmacros.box_list(category.boxes, True) }}
        {% endif %}
      </div>
    </div>
    </div>
</div>
{% else %}
    <form action="{{ url_for('categories') }}" method="POST">
        <button class="btn btn-primary pull-right" type="submit">new</button>
    </form>
    {{ listmacros.cat_list(categories, True) }}

    
{% endif %}

</div>
{% endblock %}
