{% extends "index.html" %}
{% block title %}Contents{%endblock %}

{% block body %}
<div class="item"> 

{% if content %}
    <div class="topthing" data-uri="{{ url_for('api_content', content_id=content.id) }}">
    <div class="row">
    <div class="col-md-8">
    {{ linkmacros.cat_crumbs(content.category,
                            ('Content Items', url_for('contents')),
                            (content.box.name, url_for('box', box_id=content.box.id)),
                            ) }}
    </div>
    <div class="col-md-2">
        <label for="category" class="pull-right">Set Category</label>
    </div>
    <div class="col-md-2">
        {{ listmacros.selectcat('category', 'item_ajax_control', content.category.id, -1) }}
    </div>
    </div>
        {{ listmacros.item_edit(content) }}
    </div>

{% else %}
     <h2> All Contents </h2>

     {{ listmacros.content_list(contents) }}
{% endif %}

{% endblock %}
