{% extends "index.html" %}

{% block body %}
<h1>Events</h1>

<div ng-app="eventsApp">
	<div ng-view></div>
</div>

{% endblock %}

{% block end_of_page_javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='lib/angular.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/angular/angular-resource.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/angular/angular-route.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='events.js') }}"></script>
<script type="text/javascript">
var EVENTS_API="{{ url_for('APIEvents') }}";

</script>
{% endblock %}

