{% extends "index.html" %}
{% block title %}{{ event.name }}{%endblock %}

{% block body %}
<div class="item" data-uri="/api/events/{{ event.id }}" >
  {{ listmacros.normal_edit(event) }}

  <div class="row">
    <div class="col-xs-3">
      {{ listmacros.simple_field('Start Date', 'start_date', event.start_date, 'Start Date') }}
      {{ listmacros.simple_field('End Date', 'end_date', event.end_date, 'End Date') }}
    </div>
  </div>

</div>

<hr/>
<h2>Equipment lists:</h2>

<table class="table">
	<thead>
	<tr>
		<td>Name</td><td>Packed?</td>
		<td>
      <form action="{{ url_for('packinglists') }}" method="POST">
        <input type="hidden" name="event" value="{{ event.id }}" />
        <button class="btn btn-primary pull-right" type="submit">+</button>
      </form>
		</td>
	</tr>
</thead>
<tbody>
{% for pack in event.equipmentlists %}
	<tr class="item {{ 'deleted' if not pack.exists }}" data-uri="/api/packinglists/{{ pack.id }}">
		<td>
			<a class="btn btn-default" href="{{ url_for('packinglist', list_id=pack.id)}}">Edit</a>
      {{ listmacros.simple_field('Name', 'name', pack.name, 'List name') }}
		</td>
		<td>{{ pack.packed }}</td>
		<td>
            {% if can_delete %}
              <button class="btn item_ajax_btn undelete_btn" data-name="exists"
                      data-value="true" data-ajaxtoggle="deleted"
                      data-ajaxtype="POST">Undelete</button>
              <button class="btn close item_ajax_btn delete_btn"
                      data-ajaxtoggle="deleted"
                      data-ajaxtype="DELETE">&times;</button>
            {% endif %}
		</td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
