<!doctype html>
<html>
  <head>
    {%- import "link-macros.html" as linkmacros -%}
    {%- import "list-macros.html" as listmacros -%}
    <title>{% block title %}{{ g.site_vars.site_title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    {{ linkmacros.static_css('lib/bootstrap/css/bootstrap.min.css')}}
    {{ linkmacros.static_css('lib/bootstrap/css/bootstrap-theme.css' )}}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>var jLater = [];</script>
    {% block htmlhead %}
        {{ linkmacros.static_css('lib/chosen/chosen.min.css') }}
<!--        {{ linkmacros.static_css('lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }} -->
			{{ linkmacros.static_css('lib/bootstrap-datepicker/css/datepicker.css') }}

        {{ linkmacros.static_css('style.css') }}
        {{ linkmacros.static_js('lib/jquery.js') }}
    {% endblock %}
  </head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">{{ g.site_vars.site_title }}</a>
    </div> <!-- header... -->

  <div class="collapse navbar-collapse">
    {% block nav %}
    <ul class="nav navbar-nav">
        {% macro navitem(view, text, icon) -%}
            <li><a href="{{ url_for(view) }}"><span class="glyphicon glyphicon-{{icon}}"></span> {{text}}</a></li>
        {%- endmacro %}

        {{ navitem('events',  'Events', 'calendar') }}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-headphones"></span>
            Inventory <b class="caret"></b></a>
            <ul class="dropdown-menu">
                {{ navitem('locations',  'Locations', 'home') }}
                {{ navitem('categories',  'Categories', 'folder-open') }}
                {{ navitem('boxes',  'Boxes', 'briefcase') }}
                {{ navitem('contents',  'Box Contents', 'phone') }}
            </ul>
        </li>
        <li id="search-dropdown" class="dropdown navbar-form">
            <input id="searchbox" type="text" data-toggle="dropdown" class="form-control" placeholder="search"/>
            <ul id="searchdropdown" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>Search results go here...</li>
            </ul>
        </li>
    </ul>

    <div id="searchModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                aria-labelledby="SearchModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Search...
                </div>
                <div class="modal-body">
                    stuff goes here...
                </div>
            </div>
        </div>
    </div>


    {% endblock %}

  <ul class="nav navbar-nav navbar-right">

  {% if session.logged_in %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{session.username}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('user', userid=session.userid) }}">Preferences</a></li>
          <li class="divider"></li>
          <li>
            <form action="{{ url_for('logout') }}" method="POST" class="form-inline">
                <input type="hidden" name="from" value="{{ request.endpoint }}" />
                <input class="menuitem btn btn-block" type="submit" value="Log out">
            </form>
          </li>
        </ul>
    </li>
  {% else %}
    <li>
      <button class="btn btn-sm navbar-btn" href="#" id="user_login_button" data-toggle="modal" data-target="#login_box" >Login</button>
    </li>
  {% endif %}
  </ul>
  </div> <!-- /navbar-collapse -->
</div> <!-- /navbar -->

<article class="container">
<div class="row">
<div class="col-md-2 hidden-md hidden-sm hidden-xs cat_tree">
<ul>
    {% for c in g.all_categories(True) recursive %}
        <li><a href="{{ url_for('category', cat_id=c.id) }}">{{ c.name }}</a>
        {% if c.subcategories.count() %}
            <ul>
            {{ loop(c.subcategories) }}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
<div class="col-lg-10 col-md-12">
{% block body %}{% endblock %}
</div>
</div>
<div class="cf"></div>
</article>

<ul id="flashed_notices">
{% for msg in get_flashed_messages() %}
  <li class="alert alert-dismissable">{{ msg }}</li>
{% endfor %}
</ul>

<footer class="hidden-print">
Stuff Managment Alpha &copy; 2014.<br/>
This project released under the <a href="https://www.gnu.org/licenses/gpl.html">GPL</a>.<br/>
<a id="toggle-deleted" class="btn btn-default">Toggle showing deleted items</a>

</footer>
  {{ linkmacros.static_js('lib/bootstrap/js/bootstrap.js') }}
  {{ linkmacros.static_js('lib/chosen/chosen.jquery.min.js') }}
  {{ linkmacros.static_js('lib/jquery.cookie.js') }}
	<!--
  {{ linkmacros.static_js('lib/bootstrap-datetimepicker/moment.js') }}
  {{ linkmacros.static_js('lib/bootstrap-datetimepicker/bootstrap-datetimepicker.js') }}
	-->
  {{ linkmacros.static_js('lib/bootstrap-datepicker/js/bootstrap-datepicker.js') }}
  {{ linkmacros.static_js('main.js') }}
{% block end_of_page_javascript %} {% endblock %}

</body>
</html>
