{%- macro static_js(name) -%}
<script type="text/javascript" src="{{ url_for('static', filename=name) }}"></script>
{%- endmacro %}

{% macro static_css(name) -%}
<link rel="stylesheet" href="{{ url_for('static', filename=name) }}" />
{%- endmacro %}

{%- macro cat_crumbs(category, base, item) -%}
    <ol class="breadcrumb">
    {%- if base -%}
        <li><a href="{{ base[1] }}">{{ base[0] }}</a></li>
    {%- endif -%}
    {%- if category -%}
        {% for item in [category] recursive %}
            {% if item.parent %}
                {{- loop([item.parent]) }}
            {% endif -%}
            <li><a href="{{ url_for('category', cat_id=item.id) }}"> {{item.name }}</a></li>
        {% endfor %}
    {% endif %}
    {% if item %}
        <li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
    {% endif %}
    </ol>
{% endmacro -%}
