{% macro simple_field(label, name, value, placeholder=None) %}
      <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input class="form-control item_ajax_control" name="{{ name }}"
               placeholder="{{ placeholder if placeholder else label}}" value="{{ value }}"
               data-previous="{{ value }}">
      </div>
{% endmacro %}

{% macro date_field(label, name, value, placeholder=None) %}
      <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input class="form-control item_ajax_control datepicker" name="{{ name }}"
               placeholder="{{ placeholder if placeholder else label}}" value="{{ value }}"
               data-date-format="yyyy-mm-dd"
               data-previous="{{ value }}" data-date="{{value}}">
      </div>
{% endmacro %}



{% macro money_field(label, name, value, placeholder=None) %}
      <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <div class="input-group">
        <span class="input-group-addon">$</span>
        <input class="form-control item_ajax_control" name="{{ name }}"
               placeholder="{{ placeholder if placeholder else label}}"
               value="{{ value }}" type="number" step="any" min="0"
               data-previous="{{ value }}">
        </div>
      </div>
{% endmacro %}

{% macro normal_edit(item) %}
      <h1 class="row"><span contenteditable class="item_ajax_content_editable col-xs-2" title="code"
        data-name="uglycode" data-previous="{{item.uglycode}}" style="overflow:hidden">{{ item.uglycode }}</span> 
      <span contenteditable class="item_ajax_content_editable col-xs-8" title="Name"
        data-name="name" data-previous="{{item.name}}">{{ item.name }}</span></h1>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control item_ajax_control" data-name="description"
                  data-previous="{{ item.description if item.description}}"
                  placeholder="Description"
                  >{{ item.description if item.description }}</textarea>
      </div>
{% endmacro %}


{% macro item_edit(item) %}

    {{ normal_edit(item) }}

    <div class="row">

    <div class="col-xs-6 col-md-3">
      {{ simple_field('Barcode', 'barcode', item.barcode) }}
      {{ simple_field('Serial Number', 'serial_number', item.serial_number) }}
      {{ simple_field('Model Number', 'model_number', item.model_number) }}
    </div>

    <div class="col-xs-6 col-md-3">
			<div class="form-group">
				<label for="available">Available</label>
				<input data-previous="True" value="True" placeholder="Is this item available (generally)?" name="available" class="form-control item_ajax_control" list="available-defaults">
			</div>
			<datalist id="available-defaults">
				<option>Yes</option>
				<option>No</option>
				<option>Off for repairs</option>
			</datalist>
      {{ simple_field('URL', 'url', item.url, 'Reference website') }}
      {{ simple_field('Manual', 'manual', item.manual, 'Where can I find the manual?') }}
    </div>

    <div class="col-xs-6 col-md-2">
      {{ date_field('Purchase Date', 'purchase_date', item.purchase_date, 'When did you buy it?') }}
      {{ date_field('New Date', 'new_date', item.new_date, 'When was it made/new?') }}
      {{ date_field('Expected EOL', 'expected_eol', item.expected_eol, 'When do you expect it to die (End Of Life)') }}
    </div>

    <div class="col-xs-6 col-sm-3 col-md-2">
      {{ money_field('Purchase Price', 'purchase_price', item.purchase_price, 'How much did you buy it for?') }}
      {{ money_field('New Price', 'new_price', item.new_price, 'How much is one new?') }}
    </div>

    <div class="col-xs-6 col-sm-3 col-md-2">
      {{ money_field('Daily Rental Rate', 'daily_rental', item.daily_rental, 'How much do you charge per day?') }}
      {{ money_field('Hourly Rental Rate', 'hourly', item.hourly_rental, 'How much do you charge per hour?') }}
      {{ money_field('Weekly Rental Rate', 'weekly_rental', item.weekly_rental, 'How much do you charge per week?') }}
    </div>

    </div>
{% endmacro %}

{% macro cat_list(categories, can_delete=False) %}
    <div class="table-responsive">
    <table class="table table-striped table-condensed">
    <thead>
        <tr>
        <th></th>
        <th>Category Name</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
    {% for c in categories %}
        <tr class="item {{ 'deleted' if not c.exists else '' }}"
            data-uri="{{ url_for('api_category', cat_id=c.id) }}">
          <td>
            <a class="btn btn-default"
               href="{{url_for('category', cat_id=c.id)}}">Edit</a>
          </td>
          <td>
            <input class="form-control item_ajax_control"
                name="name" value="{{ c.name }}" data-previous="{{c.name}}" />
          </td>
          <td>
            {% if can_delete %}
              <button class="btn item_ajax_btn undelete_btn" data-name="exists"
                      data-value="true" data-ajaxtoggle="deleted"
                      data-ajaxtype="POST">Undelete</button>
              <button class="btn close item_ajax_btn delete_btn"
                      data-ajaxtoggle="deleted"
                      data-ajaxtype="DELETE">&times;</button>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
{% endmacro %}


{% macro box_list(boxes, delete_uri=False) %}
    <table class="table table-striped table-condensed">
    <thead>
        <tr class="row">
        <th class="col-xs-1"></th>
        <th class="col-xs-1">Box Code</th>
        <th>Box Name</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
    {% for box in boxes %}
        <tr class="item {{ 'deleted' if not box.exists else '' }} row"
            data-uri="{{ url_for('api_box', box_id=box.id) }}">
          <td class="col-xs-1">
            <a class="btn btn-default"
               href="{{url_for('box', box_id=box.id)}}">Edit</a>
          </td>
          <td class="col-xs-2">
            <input class="form-control item_ajax_control"
                name="uglycode" value="{{ box.uglycode }}" data-previous="{{box.uglycode}}" />
          </td>

          <td>
            <input class="form-control item_ajax_control"
                name="name" value="{{ box.name }}" data-previous="{{box.name}}" />
          </td>
          <td {{ (('data-uri="'+ delete_uri(box.id) + '"') if delete_uri and delete_uri != True) | safe }}>
            {% if delete_uri %}
              <button class="btn item_ajax_btn undelete_btn" data-name="exists"
                      data-value="true" data-ajaxtoggle="deleted"
                      
                      data-ajaxtype="POST">Undelete</button>
              <button class="btn close item_ajax_btn delete_btn"
                      data-ajaxtoggle="deleted"
                      {% if delete_uri != True %}
                      data-uri="{{ delete_uri(box.id) }}"
                      {% endif %}
                      data-ajaxtype="DELETE">&times;</button>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endmacro %}

{% macro content_list(contents, can_delete=False) %}
    <table class="table table-striped table-condensed">
    <thead>
        <tr class="row">
        <th class="col-xs-1"></th>
        <th class="col-xs-6">Name</th>
        <th class="hidden-xs">Model No.</th>
        <th class="hidden-xs">Serial No.</th>
        <th class="hidden-xs">Box (container)</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
    {% for content in contents %}
        <tr class="item {{ 'deleted' if not content.exists else '' }} row"
            data-uri="{{ url_for('api_content', content_id=content.id) }}">
          <td class="col-xs-1">
            <a class="btn btn-default"
               href="{{url_for('content', content_id=content.id)}}">Edit</a>
          </td>
          <td class="col-xs-6">
            <input class="form-control item_ajax_control"
                name="name" value="{{ content.name }}" data-previous="{{content.name}}" />
          </td>
          <td class="hidden-xs">
            <input class="form-control item_ajax_control"
                name="model_number" value="{{ content.model_number }}" data-previous="{{content.model_number}}" />
          </td>
          <td class="hidden-xs">
            <input class="form-control item_ajax_control"
                name="serial_number" value="{{ content.serial_number }}" data-previous="{{content.serial_number}}" />
          </td>
          <td class="hidden-xs">
            {{ selectbox('box', 'item_ajax_control', content.box.id, -1) }}
            <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> ... </button>
            <ul class="dropdown-menu" role="menu">
            <li>
            </li>
            </ul>
            </div>
          </td>


          <td>
            {% if can_delete %}
              <button class="btn item_ajax_btn undelete_btn" data-name="exists"
                      data-value="true" data-ajaxtoggle="deleted"
                      data-ajaxtype="POST">Undelete</button>
              <button class="btn close item_ajax_btn delete_btn"
                      data-ajaxtoggle="deleted"
                      data-ajaxtype="DELETE">&times;</button>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endmacro %}

{% macro multiitem_list(multiitems, can_delete=False) %}
    <table class="table table-striped table-condensed">
    <thead>
        <tr class="row">
        <th class="vol-xs-1"></th>
        <th class="col-xs-1" >Quantity</th>
        <th class="col-md-4">Name</th>
        <th>Model No.</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
    {% for multiitem in multiitems %}
        <tr class="item {{ 'deleted' if not multiitem.exists else '' }} row"
            data-uri="{{ url_for('api_multiitem', multiitem_id=multiitem.id) }}">
          <td class="col-xs-1">
            <a class="btn btn-default"
               href="{{url_for('multiitem', multiitem_id=multiitem.id)}}">Edit</a>
          </td>
          <td class="col-xs-1">
            <input class="form-control item_ajax_control"
                name="stock" value="{{ multiitem.stock }}" data-previous="{{multiitem.stock }}" />
          </td>
          <td>
            <input class="form-control item_ajax_control"
                name="name" value="{{ multiitem.name }}" data-previous="{{multiitem.name}}" />
          </td>
          <td>
            <input class="form-control item_ajax_control"
                name="model_number" value="{{ multiitem.model_number }}" data-previous="{{multiitem.model_number}}" />
          </td>

          <td>
            {% if can_delete %}
              <button class="btn item_ajax_btn undelete_btn" data-name="exists"
                      data-value="true" data-ajaxtoggle="deleted"
                      data-ajaxtype="POST">Undelete</button>
              <button class="btn close item_ajax_btn delete_btn"
                      data-ajaxtoggle="deleted"
                      data-ajaxtype="DELETE">&times;</button>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endmacro -%}

{%- macro location_list(locations, can_delete=False) %}
    <div class="table-responsive">
    <table class="table table-striped table-condensed">
    <thead>
        <tr class="row">
        <th class="col-xs-1"></th>
        <th class="col-xs-8">Location Name</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
    {% for l in locations %}
        <tr class="item {{ 'deleted' if not l.exists else '' }} row"
            data-uri="{{ url_for('api_location', location_id=l.id) }}">
          <td class="col-xs-1">
            <a class="btn btn-default"
               href="{{url_for('location', location_id=l.id)}}">Edit</a>
          </td>
          <td class="col-xs-8">
            <input class="form-control item_ajax_control"
                name="name" value="{{ l.name }}" data-previous="{{l.name}}" />
          </td>
          <td>
            {% if can_delete %}
              <button class="btn item_ajax_btn undelete_btn" data-name="exists"
                      data-value="true" data-ajaxtoggle="deleted"
                      data-ajaxtype="POST">Undelete</button>
              <button class="btn close item_ajax_btn delete_btn"
                      data-ajaxtoggle="deleted"
                      data-ajaxtype="DELETE">&times;</button>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
{% endmacro -%}

{%- macro selectcat(name, classes, current_id, disable) -%}
    <select name="{{name}}" class="form-control {{classes}}" autocomplete=off>
        <option value="" {{ 'selected' if not current_id }}>None</option>
        {% for cat in g.all_categories() -%}
            <option value="{{cat.id}}" {{'disabled' if cat.id == disable }} {{ 'selected' if cat.id == current_id }}>{{ ("- " * cat.level)}} {{cat.name}}</option>
        {% endfor %}
    </select>
{% endmacro -%}

{%- macro selectbox(name, classes, current_id, disable) %}
    <select name="{{ name }}" class="form-control {{classes}}" autocomplete=off>
        <option value="" {{ 'selected' if current_id == "" }}>None</option>
    {% for b in g.all_boxes() %}
        <option value="{{ b.id }}" {{ 'disabled' if b.id == disable }} {{ 'selected' if b.id == current_id }}>{{b.name}}</option>
    {% endfor %}
    </select>
{% endmacro %}

{%- macro selectlocation(name, classes, current_id, disable) -%}
    <select name="{{name}}" class="form-control {{classes}}" autocomplete=off>
        <option value="" {{ 'selected' if not current_id }}>None</option>
        {% for location in g.all_locations() -%}
            <option value="{{location.id}}" {{'disabled' if location.id == disable }} {{ 'selected' if location.id == current_id }}>{{ ("- " * location.level)}} {{location.name}}</option>
        {% endfor %}
    </select>
{% endmacro -%}

{%- macro selectlocationmany(name, classes, current_id, current_text, disable) -%}
    <select name="{{name}}" class="form-control {{classes}}" autocomplete=off>
        <option value="{{ current_id }}" selected>{{ current_text if current_text else 'None' }}</option>
    </select>
{% endmacro -%}

{%- macro issues(item) -%}
    <table class="table ajax_section" id="issues_area">
    <thead>
    <tr>
    <th class="col-md-1"></th>
    <th class="col-md-3">State</th>
    <th class="col-md-8">Note</th>
    <th class="col-md-2"><form action="{{ url_for('APIIssues') }}" method="POST" class="ajax_section_form_api">
        <input value="{{ item._meta.db_table }}" type="hidden" name="rel_type" />
        <input value="{{ item.id }}" type="hidden" name="rel_id" />
        <button type="submit">+</button></form></th>
    </tr>
    </thead>
    <tbody>
    {% for issue in item.issues %}
    <tr class="item {{ 'deleted' if not issue.exists }}"
        data-uri="{{ url_for('APIIssue', issue_id=issue.id) }}" data-update="PUT">
        <td><input name="resolved" type="checkbox" {{ 'checked' if issue.resolved }} value="true"
             class="item_ajax_control" data-previous="{{ issue.resolved }}"/></td>
        <td>
            <select name="status" class="form-control item_ajax_control" 
                    autocomplete=off data-previous="{{ issue.status }}">
            <option value="new" {{ 'selected' if issue.status=='new' }}>new</option>
            {% for option in g.site_vars.issue_texts %}
            <option value="{{ option }}" {{ 'selected' if issue.status==option}}>{{ option }}</option>
            {% endfor %}
            </select>
        </td>
        <td><input name="name" value="{{ issue.name }}" class="form-control item_ajax_control" /></td>
        <td><button class="btn close item_ajax_btn delete_btn"
                    data-ajaxtype="DELETE"
                    data-ajaxtoggle="deleted">&times;</button></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endmacro %}
