{% extends "index.html" %}
{% block title %}Locations{%endblock %}

{% block body %}
<div class="item"> 

{% if location %}
  <div class="row">
    <div class="topthing col-md-4"
        data-uri="{{ url_for('api_location', location_id=location.id) }}">
        {{ listmacros.normal_edit(location) }}
      <div class="form-group">
        <label for=parent">Sub location of:</label>
        {{ listmacros.selectlocation('parent', 'item_ajax_control', location.parent.id, location.id) }}
       </div> 
    </div>

    <div class="col-md-8">
    <div class="panel panel-default ajax_section" id="sublocs_section">
      <div class="panel-heading">
      <form action="{{ url_for('locations') }}" method="POST" class="ajax_section_form">
        <h3 class="panel-title">Sub Locations
        <input type="hidden" name="parent" value="{{ location.id }}">
        <button class="btn btn-primary pull-right" type="submit">+</button>
        </h3>
      </form>
      </div>
      <div class="panel-body">
        {% if locations.count() %}
            {{ listmacros.location_list(locations, True) }}
        {% endif %}
      </div>
    </div>

    <div class="panel panel-default ajax_section" id="boxes_section">
      <div class="panel-heading">
      <form action="{{ url_for('boxes') }}" method="POST" class="ajax_section_form">
        <h3 class="panel-title">Boxes
        <input type="hidden" name="location" value="{{ location.id }}">
        <button class="btn btn-primary pull-right" type="submit">+</button>
        </h3>
      </form>
      </div>
      <div class="panel-body">
        {% if location.boxes.count() %}
        {{ listmacros.box_list(location.boxes, True) }}
        {% endif %}
      </div>
    </div>
    </div>
</div>
{% else %}

    <h1>Locations</h1>
    <ul class="ajax_section list-group" data-url="{{ url_for('locations') }}" id="top-level-locations">
    {% for location in locations recursive %}
        <li class="item ajax_section list-group-item {{ 'deleted' if not location.exists }}" data-uri="{{ url_for('api_location', location_id=location.id) }}"
                                          id="location_{{ location.id }}">
                <h4 class="list-group-item-heading item_ajax_content_editable"
                    data-name="name" data-previous="{{ location.previous}}"
                    contenteditable>{{ location.name }}</h4>

                <span class="badge">{{ location.boxes.count() }} boxes</span>

                <div class="btn-group">
                   <a href="{{ url_for('location',location_id=location.id) }}" class="btn btn-default">Edit</a>

                {% if not location.sublocations.count() %}
                            <button class="btn btn-danger" type="submit"
                                    form="{{ location.id }}.delete"
                                    title="Delete this location."><span class="glyphicon glyphicon-trash"></span></button>

                            <button class="btn btn-default" type="submit"
                                    form="{{ location.id }}.subdivide"
                                    title="Create a sub-location of this one.">subdivide</button>

                        <!-- forms separate due to bootstrap confusion... -->
                        <form action="{{ url_for('api_location', location_id=location.id) }}"
                              method="DELETE" class="ajax_section_form" id="{{ location.id}}.delete">
                        </form>
                        <form action="{{ url_for('locations') }}"
                              method="POST" class="ajax_section_form" id="{{ location.id }}.subdivide">
                            <input type="hidden" name="parent" value="{{ location.id }}" />
                        </form>
                {% endif %}
                </div>
                <p class="list-group-item-text">{{ location.description if location.description }}</p>

           {% if location.sublocations.count() %}
                <ul class="subgroup">
                {{ loop(location.sublocations) }}
                <li>
                <form action="{{ url_for('locations') }}" method="POST" class="ajax_section_form form form-inline">
                    <input type="hidden" name="parent" value="{{ location.id }}" />
                    <button class="btn btn-default" type="submit">Add another sub-location</button>
                </form>
                </li>
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    <form action="{{ url_for('locations') }}" method="POST" class="ajax_section_form form form-inline">
        <button class="btn btn-default" type="submit">New Top-level location</button>
    </form>
    </ul>

{% endif %}
</div>
{% endblock %}
