{% extends "index.html" %}
{% block title %}Multi Items (Cables, etc){%endblock %}

{% block body %}
<div class="item"> 

{% if multiitem %}
    <div class="topthing" data-uri="{{ url_for('api_multiitem', multiitem_id=multiitem.id) }}">
    <div class="row">
    <div class="col-md-8">
    {{ linkmacros.cat_crumbs(multiitem.category,
                            ('Multi Items', url_for('multiitems')),
                            (multiitem.box.name, url_for('box', box_id=multiitem.box.id)),
                            ) }}
    </div>
    <div class="col-md-2">
        <label for="category" class="pull-right">Set Category</label>
    </div>
    <div class="col-md-2">
        {{ listmacros.selectcat('category', 'item_ajax_control', multiitem.category.id, -1) }}
    </div>
    </div>
        {{ listmacros.item_edit(multiitem) }}
    </div>

{% else %}
     <h2> All Multi-items </h2>

     {{ listmacros.multiitem_list(multitems) }}
{% endif %}

{% endblock %}
