{% extends "index.html" %}

{% block body %}
<style>
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	cursor: move;
	display: block;
}
.handle {
	width:2em;
	float: left;
	color: #555;
	height: 100%;
}

.end-of-list-dropzone {
	font-weight: bold;
	padding: 1em;
}
.end-of-list-dropzone:hover {
	background: #eee;
}

</style>

<h1>Packing List</h1>
<div ng-app="packingListApp" ng-controller="packingListController" class="row">
{% raw %}
<div class="col-xs-4" style="height:71vh;">
	<div class="well" style="position:fixed;height:100vh;">
		<div class="input-group">
			<input ng-model="inventoryfilter" class="form-control" placeholder="search..."/>
			<div class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></div>
		</div>
		<div style="height:70vh;overflow:scroll;">
			<div role="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#inventoryBoxes" aria-controls="inventoryBoxes" role="tab"
					    data-toggle="tab">Boxes</a></li>
					<li role="presentation"><a href="#inventoryItems" aria-controls="inventoryItems" role="tab"
					    data-toggle="tab">Items</a></li>
					<li role="presentation"><a href="#inventoryExtras" aria-controls="inventoryExtras" role="tab"
					    data-toggle="tab">Extras</a></li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="inventoryBoxes">
						<draglist id="inventory" allow-drops="no" draglist="inventory">
							<dragitem draggable=true ng-repeat="box in inventory|filter:inventoryfilter|orderBy:'uglycode'" obj="box">
								{{ box.uglycode }} : {{ box.name }}
							</dragitem>
						</draglist>
					</div>

					<div role="tabpanel" class="tab-pane" id="inventoryItems">
					</div>

					<div role="tabpanel" class="tab-pane" id="inventoryExtras">
						<draglist allow-drops="no" draglist="extras">
							<dragitem draggable="true" ng-repeat="thing in extras" obj="thing">
								{{ thing.name }}
							</dragitem>
						</draglist>
					</div>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="col-xs-8">
<div class="btn-group pull-right" role="group" aria-label="...">
	<button ng-click="addSection()" class="btn btn-default">Add section</button>
	<button ng-click="save()" class="btn btn-primary">Save</button>
</div>
<h2>Selected Content</h2>

<div class="panel panel-default" ng-repeat="section in sections" ng-controller="sectionListController">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-10">
				<input class="form-control" ng-model="section.title"/>
			</div>
			<div class="col-md-2">
				<span class="badge">{{ section.items.length }}</span>
				<button type="button" class="close pull-right" ng-click="removeSection(section)"><span aria-hidden="true">&times</span><span class="sr-only">Close</span></button>
			</div>
		</div>
	</div>
	<div class="panel-body">

	<draglist drop="addItem(section)" id="contentlist" draglist="items">
		<dragitem ng-repeat="item in items track by item.id" obj="item" drop="addItemItem">
		  <div ng-switch="item.type">
				<div ng-switch-when="extra" class="row">
					<div class="input-group col-xs-10">
						<span class="input-group-addon"><span class="glyphicon glyphicon-sort" draggable=true></span>
						</span>
						<input ng-model="item.name" class="form-control" />
					</div>
					<div class="col-xs-2">
					<button type="button" class="close pull-right" ng-click="removeItem(section, item)"><span aria-hidden="true">&times</span><span class="sr-only">Close</span></button>
					<a class="btn" ng-click="toggleShowNotes(item)"><span class="caret"></span></a>
					</div>
				</div>

				<div ng-switch-default>
					<h5 class="item-list-heading" draggable=true>
						{{ item.uglycode }} | {{ item.name }}
						<button type="button" class="close pull-right" ng-click="removeItem(section, item)"><span aria-hidden="true">&times</span><span class="sr-only">Close</span></button>
						<a class="btn" ng-click="toggleShowNotes(item)"><span class="caret"></span></a>
					</h5>
				</div>

			</div> <!-- /switch ... -->
			<div ng-if="item.showNotes">
			<textarea class="form-control" ng-model="item.notes" placeholder="notes"></textarea>
			</div>
		</dragitem>
		<div class="end-of-list-dropzone" style="text-align:center;">Drop here...</div>
	</draglist>
	</div>
</div>
<pre>{{ sections }}</pre>
</div>
{% endraw %}
</div>
{% endblock %}

{% block end_of_page_javascript %}
<script type="text/javascript">
var EVENTS_API="{{ url_for('APIEvents') }}",
	BOXES_API="{{ url_for('api_boxes') }}",
  CURRENT_LIST={{ packinglist.data |safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/angular.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/angular/angular-resource.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/angular/draglist.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='packinglist.js') }}"></script>
{% endblock %}

