<!doctype html>
<html>
<head>
<title>All Boxes</title>
<style>
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #333;
    margin: 0.3em;
}
td {
    border: 1px solid #eee;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.boxrow > td {
    border-top: 2px solid black;
    padding: 1em;
}
.contentrow:nth-of-type(odd) {
    background: #ddd;
}
.contentname {
    text-align: right;
    border-right: 1px solid black;
    white-space: nowrap;
    padding-left: 0.4em;
}
.contentmodel {
    font-weight: thin; 
    white-space: nowrap;
    border-right: 1px solid black;
    text-align: center;
    font-family: monospace;
}
.contentdesc {
    width: 100%;
}
.contentheader {
    font-size: small;
    background: #777;
}
.boxfooter > td{
    background: #eee;
    text-align: center;
    border-top: 1px solid #222;
}
label {
    display: block;
}
@media print {
    .noprint {
        display: none;
    }
}
</style>
</head>
<body>
<div class="noprint">
<form method="GET">
<label>Hide Contents <input name="hidecontents" type="checkbox" {{ 'checked' if options.hidecontents }} /></label>
<label>Hide Location <input name="hidelocation" type="checkbox" {{ 'checked' if options.hidelocation }} /></label>
<label>Sort by:<select name="sortby" autocomplete=off>
    <option value="">None</option>
    <option value="uglycode" {{ 'selected' if options.sortby == 'uglycode' }}>Box Code</option>
    <option value="name" {{ 'selected' if options.sortby == 'name' }}>Box Name</option>
    <option value="home.name" {{ 'selected' if options.sortby == 'home.name' }}>Location</option>
</select></label>
<label>Footer:<input name="boxfooter" value="{{ options.boxfooter }}"></label>
<button type="submit">Refresh</button>
</form>
</div>
{% for box in boxes| sort(attribute='uglycode' if not options.sortby else options.sortby) %}
<div style="page-break-inside: avoid">
    <table>
    <tbody>
    <tr class="boxrow">
    <td colspan=3>
    <img style="float:right" src="{{ url_for('api_barcode', code=box.uglycode) }}" />
    {% if not options.hidelocation %}
    <span class="location">{{ box.home.name }}</span>
    {% endif %}
    <h2><a href="{{ url_for('box', box_id=box.id) }}">{{ box.uglycode }} | {{ box.name |safe }}</a></h2>
    {% if box.description %}
        <p>{{ box.description }}</p>
    {% endif %}
    </td>
    </tr>
    {% if not options.hidecontents %}
    <tr class="contentheader">
    <th> Name </th>
    <th> Model </th>
    <th> Notes</th>
    </tr>
    {% for content in box.contents %}
      {% if content.exists %}
        <tr class="contentrow">
            <td class="contentname"><a href="{{ url_for('content', content_id=content.id) }}">{{ content.name }}</a></td>
            <td class="contentmodel">{{ content.model_number }}</td>
            <td class="contentdesc">{{ content.description }}</td>
        </tr>
      {% endif %} 
    {% endfor %}
    {% for content in box.contained_multis %}
      {% if content.exists %}
        <tr class="multicontentrow">
            <td class="contentname">{{ content.stock }} x {{ content.name }}</td>
            <td class="contentmodel">{{ content.model_number }}</td>
            <td class="contentdesc">{{ content.description }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    {% endif %}
    {% if options.boxfooter %}
    <tr class="boxfooter">
    <td colspan=3>
    {{ options.boxfooter }}
    </td>
    </tr>
    {% endif %}
    </tbody>
</table>
</div>
{% endfor %}
</body>
</html>
