/**********************************************************************/
page, body {
    height: 100%;
}
body {
    padding-top: 70px;
    height: 100%;
    color: #333;
}
#flashed_notices {
    position: absolute;
    top: 2em;
    right: 0;
    padding: 1em;
}
#flashed_notices > li {
    background: rgba(2,2,2,0.6);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 0.2em 1em 0.2em 1em;
    list-style-type: none;
}
#flashed_notices > li:hover {
    color: #aaa;
}
#flashed_notices > li .err {
    background: rgba(8,2,2,0.7);
}

option.admin {
    font-weight: bold;
    color: #224;
}
option:checked {
    background: #222;
}

div.footerbox {
    width: 25%;
    border: 1px solid #123;
    padding: 1em;
}


footer {
    text-align: center;
    color: #666;
    border-radius: 100px;
    background: #222;
    padding: 1em;
    margin-top: 200px;
    font-weight: thin;
    width: 80%;
    margin: 200px auto 20px auto;
    display: block;
}
footer a {
   color: #444;
   font-weight: bold;
}

.cf {
    clear:both;
    }

input.half { max-width: 50%; }
input.third { max-width: 28%;}

/***************************************/

.published {
    font-width: bold;
}
.unpublished {
    font-width: normal;
    font-style: italic;
    opacity: 0.6;
}

.time_future, .time_future a {
    color: #349;
}

.time_now {
    background-color: #bcd;

}

tr.time_now:nth-child(odd) {
    background-color: #abc;
}

.time_past, .time_past a  {
    color: #914;
    font-style: italic;
}

.delbutton {
    background: red;
    background: linear-gradient(#e22,#c00);
    color: #faa;
    font-weight: 800;
    border-radius: 5px;
    border: 1px solid #b50d0d;
    text-shadow: -1px -1px 0px #b50d0d, 1px 1px 0px #e22;
    /*box-shadow: inset 1px 1px 5px rgba(255,255,255,0.8);*/

}
.delbutton:hover {
    background: linear-gradient(#d22, #522);
}

ul.optionrow {
    display: inline;
    margin: auto;
    text-align: center;
    list-style: none;
}
ul.optionrow > li {
    border: 1px solid #999;
    display: inline;
    background: #ddd;
    background: linear-gradient( #fff,#ddd);
    box-shadow: inset 2px 2px 2px #fff, inset -2px -2px -2px #777;
    padding: 0.5em;
    margin: 0px;
    list-style: none;
}
ul.optionrow > li:hover {
    background: #aaa;
}

ul.optionrow > li:first-of-type {
    border-radius: 10px 0 0 10px;
}
ul.optionrow > li:last-of-type {
    border-radius: 0 10px 10px 0;
}

.chzn-container input {
    min-height: 2em;
}

.hidden {
    display: none;
}
.deleted {
    background: #fbb;
    text-decoration: line-through;
}
.table-striped tr.deleted:nth-child(2n+1) td{
    background-color: #faa;
}
.deleted .delete_btn {
    display: none;
}
.undelete_btn {
    display: none;
}
.deleted .undelete_btn {
    display: block;
    text-decoration: none;
}

[contenteditable] {
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 1px 1px 2px rgba(100,100,100,0.2);
    border-radius: 2px;
    min-width: 2em;
    padding: 0.2em;
    min-height: 1.6em;
}

.cat_tree ul {
    padding-left: 1em;
}
.panel-heading button {
    margin-top: -0.54em;
}
h1 {
   padding-left: 0.4em;
}

ul.subgroup {
    background-color: rgba(0,0,0,0.2);
}

.hiding-stuff:before {
    content:"+";
}

#searchdropdown {
    max-height: 30em;
    overflow-y: scroll;
}

@media print {
body {
    font-size: 10px;
    line-height: 1.2;
    padding-top: 0;
}
h1 .item_ajax_content_editable {
    border: 0;
}
.btn {
    display: none;   
}
#details-panel .panel-heading {
    display: none;
}
.panel, .panel-body {
    border: 0; 
    padding: 0;
    margin: 0;
}
.hiding-stuff {
    display: none;
}
.form-group {
    margin-bottom: 2px;
}
.form-control {
    padding: 2px;
    height: auto;
}

}
